@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


:root {
    --clr-background-: #141518;
    --clr-player-one: #F7C1BB;
    --clr-player-two: #84B082;

    --clr-game-text: #DC136C;
    --clr-text: #e4e4e4;

    --ff-primary: "Press Start 2P", cursive;

}


.page-wrapper {
    background-color: var(--clr-background-);
    color: var(--clr-text);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: var(--ff-primary);
    text-align: center;
    ;
    padding: 1rem;
    gap: 2rem;
}

.main {
    display: flex;
    flex-direction: column;
    ;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.title {
    color: var(--clr-game-text);
    margin-top: 2rem;
}

.button {
    appearance: none;
    border: transparent;
    border-radius: 100vw;
    padding: .5rem 1rem;
    background-color: var(--clr-game-text);
    color: white;

}

.button:hover {

    transform: scale(1.1);
}

@media screen and (max-width: 400px) {
    .page-wrapper {
        font-size: .815rem;
    }

    .main {
        gap: 0;
    }
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

}

.formControl {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;

}

.formControl:nth-of-type(3) {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;


}

.formControl input[type="text"] {
    appearance: none;
    border: transparent;
    border-radius: 8px;
    background-color: hsl(225, 4%, 22%);
    color: var(--clr-text);
    padding: 1rem;
}

.formControl input[type="checkbox"] {
    display: grid;
    place-content: center;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    height: 2.5rem;
    width: 2.5rem;
    appearance: none;
    border: transparent;
    border-radius: 8px;
    background-color: hsl(225, 4%, 22%);
    color: var(--clr-text);
    padding: 1rem;
}

.formControl input[type="checkbox"]::before {
    content: "";
    background-color: var(--clr-game-text);
    width: 1.75rem;
    height: 1.75rem;
    transform: scale(0);
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.formControl input[type="checkbox"]:checked::before {
    transform: scale(1);
}

@media screen and (max-width: 400px) {
    .formControl input {
        padding: .5rem;
    }
}

.game {
    display: grid;
    place-items: center;
    gap: 2rem;
    text-align: center;

}

.game p {
    width: 100%;
}

.gameBoard {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 50vh;
    aspect-ratio: 1;
}

.cell {

    display: flex;
    align-items: center;
    justify-content: center;
    ;
    font-size: 2rem;
    cursor: pointer;
}



.cell:nth-of-type(1),
.cell:nth-of-type(2),
.cell:nth-of-type(3) {
    border-bottom: 1px solid var(--clr-game-text);
}

.cell:nth-of-type(7),
.cell:nth-of-type(8),
.cell:nth-of-type(9) {
    border-top: 1px solid var(--clr-game-text);
}

.cell:nth-of-type(1),
.cell:nth-of-type(4),
.cell:nth-of-type(7) {
    border-right: 1px solid var(--clr-game-text);
}

.cell:nth-of-type(3),
.cell:nth-of-type(6),
.cell:nth-of-type(9) {
    border-left: 1px solid var(--clr-game-text);
}

.X {
    cursor: not-allowed;
    color: var(--clr-player-one)
}

.O {
    cursor: not-allowed;
    color: var(--clr-player-two)
}



.hidden {
    display: none;

}

.fade {
    opacity: 50%;
    ;
}

.footer {
    font-size: .815rem;
    ;
}

.footer a {
    text-decoration: none;
    color: var(--clr-game-text);
}